<div class="d-flex align-center justify-center flex-column h-100">
    <p>I am a passionate and hard -working guy, who loves coding. Even after having done my MBA and after working for years in a manegerial position, I shifted back to development as it was passion</p>
    <p>Since the lasy 4 years, I have been working in an enviroment where I have got to learn more and more every day, also me trying myself to learn and acquire more and more, by own efforts.</p>
    <p>I love implementing what I have learned into real life solutions, which can be seen in my efforts in the <a href="javascript:;" [routerLink]="['/portfolio']">Portfolio</a> page.</p>
</div>