<div class="d-flex align-center justify-around h-100">
    <div class="portfolio-item">
        <div>
            <a class="project1" href="https://www.npmjs.com/package/ez-ng-lib/" target="_blank">
                <h4>Ez Ng Lib</h4>
            </a>
        </div>
    </div>
    <div class="portfolio-item">
        <div>
            <a class="project2" href="https://covid-react-ten.vercel.app/" target="_blank">
                <h4>Covid Website</h4>
            </a>
        </div>
    </div>
</div>