<div class="d-flex align-center justify-center flex-column h-100">
    <h2>Susobhan Dash</h2>
    <!-- <p>~4 years of experience in Front End Technologies</p>
    <p>Hard Wokring PAssionate to learn new technologies</p>
    <p>Interested in developing reusable components and libraries</p>
    <p>Proficient in Angular 6+, JS and CSS and many 3rd party libraries</p> -->
    <p class="red-text mb-2">
        {{typeWriterDisplayText}}
        <span class="cursor"></span>
    </p>

    <div class="w-100 mt-2 d-flex justify-center">
        <div class="social mt-2">
            <a href="https://facebook.com/susobhan.dash" target="_blank" class="social-btn facebook">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="https://www.linkedin.com/in/susobhan-dash/" target="_blank" class="social-btn linkedin">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            <a href="https://github.com/susobhandash" target="_blank" class="social-btn github">
                <i class="fa fa-github" aria-hidden="true"></i>
            </a>
            <a href="mailto:susobhan.dash@gmail.com" target="_blank" class="social-btn gmail">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>