/* You can add global styles to this file, and also import other style files */

// @import 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';

/* ---------------------------- Mixins ---------------------------- */
@mixin outShadow {
    box-shadow: -3px -3px 7px hsla(0,0%,100%,.45), 3px 3px 5px rgba(18,18,19,.288);
}
@mixin inShadow {
    box-shadow: inset -3px -3px 7px hsla(0,0%,100%,.45), inset 3px 3px 5px rgba(18,18,19,.288);
}
@mixin br-10 {
    border-radius: 10px;
}
@mixin br-30 {
    border-radius: 30px;
}
@mixin br-50 {
    border-radius: 50%;
}
@mixin border {
    border: 1px solid hsla(0,0%,100%,.3);
}
@mixin neoBg {
    background: #dde1e7;
}

/* ---------------------------- Utilities ---------------------------- */
.d-flex {
    display: flex;
}
.d-i-flex {
    display: inline-flex;
}
.d-i-block {
    display: inline-block;
}

.col {
    flex-grow: 0;
    flex-shrink: 0;
    flex: 1;
}

.align-center {
    align-items: center;
}

.justify-center,
.text-center {
    text-align: center;
    justify-content: center;
}
.justify-start,
.text-left {
    text-align: left;
    justify-content: flex-start;
}
.justify-end,
.text-right {
    text-align: right;
    justify-content: flex-end;
}
.justify-between {
    justify-content: space-between;
}
.justify-around {
    justify-content: space-around;
}

.flex-column {
    flex-direction: column;
}

.pos-rel {
    position: relative;
}
.pos-abs {
    position: absolute;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.m-0 {
    margin: 0!important;
}
.ml-0 {
    margin-left: 0!important;
}
.mr-0 {
    margin-right: 0!important;
}
.mt-0 {
    margin-top: 0!important;
}
.mb-0 {
    margin-bottom: 0!important;
}

.mt-1 {
    margin-top: 1rem!important;
}
.mt-2 {
    margin-top: 2rem!important;
}

.mb-1 {
    margin-bottom: 1rem!important;
}
.mb-2 {
    margin-bottom: 2rem!important;
}

.chips {
    margin-right: 30px;
    margin-bottom: 15px;
    display: inline-block;
    font-weight: bolder;
    color: #f56c6d;
    text-align: center;
    padding: 8px 24px;
    border-radius: 50px;
    @include inShadow;
}

.vertical_separator {
    width: 100%;
    border: 0.5px solid #ccc;
    display: block;
}
/* ---------------------------- Applcation ---------------------------- */
body, ul {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    background: #dde1e7;
    font-size: 1.2rem;
    color: #000;
}

html, body, * {
    box-sizing: border-box;
}

p {
    margin: 10px;
    color: #6c757d;
}

h1, h2, h3, h4, h5 {
    margin: 10px 0px;
    // color: #f56c6d;
}

.container {
    padding: 30px;
    display: flex;
    align-items: center;
    height: 100vh;
}

.sidebar {
    width: 270px;
    @include outShadow;
    @include br-30;
    height: 92vh;
    position: relative;
}

.prof-icon {
    padding-top: 30px;
    margin-bottom: 20px;
    .outer-prof-pic {
        width: 200px;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        @include inShadow;
        @include br-50;

        .inner-prof-pic {
            width: 180px;
            height: 180px;
            display: flex;
            align-items: center;
            justify-content: center;
            @include outShadow;
            @include br-50;
            overflow: hidden;

            img {
                @include br-50;
            }
        }
    }
}

.nav-links {
    padding: 15px;
    position: absolute;
    width: calc(100% - 30px);
    bottom: 30px;
    overflow: hidden;
    .nav-item {
        list-style: none;
        @include outShadow;
        @include br-30;
        margin-bottom: 15px;
        font-size: 1rem;
        cursor: pointer;
        overflow: hidden;
        transition: all 0.3s ease-in-out;

        &.active {
            @include inShadow;
            color: #f56c6d;
            font-weight: 500;
        }

        &:focus {
            outline: none;
        }

        &:hover {
            @include inShadow;
        }

        a {
            display: block;
            padding: 10px;
        }
    }
}

.main-content {
    margin-left: 50px;
    width: calc(100% - 320px);
    @include outShadow;
    @include br-30;
    height: 92vh;
    position: relative;
    padding: 20px;
}

.education-list {
    position: relative;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;

    li {
        list-style: disc;
        list-style-position: outside;
        position: relative;
        left: -10px;

        &::before {
            content: '';
            position: absolute;
            display: block;
            height: 15px;
            width: 15px;
            background: #f56c6d;
            border-radius: 50%;
            left: -23px;
            top: 5px;
            @include outShadow;
        }
    }

    &::before {
        content: '';
        left: 0;
        top: 0;
        border-radius: 3px;
        position: absolute;
        height: 100%;
        width: 8px;
        @include inShadow;
    }
}

.portfolio-item {
    width: 400px;
    height: 220px;
    padding: 10px;
    @include inShadow;
    @include br-10;

    > div {
        @include outShadow;
        @include br-10;
        overflow: hidden;
        height: 100%;
        width: 100%;
        padding: 10px;

        &:hover {
            h4 {
                opacity: 1;
            }

            .project1::after,
            .project2::after {
                visibility: visible;
            }
        }

        > a {
            height: 100%;
            width: 100%;
            @include br-10;
            overflow: hidden;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            text-decoration: none;
            
            h4 {
                opacity: 0;
                z-index: 2;
                color: #fff;
                transition: all ease-in-out 0.3s;
                cursor: pointer;
            }

            &::after {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background: rgba(0, 0, 0, 0.75);
                visibility: hidden;
                z-index: 1;
            }

            &.project1 {
                background-image: url('assets/img/project1.png');
                background-size: 100% 100%;
            }

            &.project2 {
                background-image: url('assets/img/project2.png');
            }
        }
    }
}

.social {
    width: 50%;
    @include inShadow;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 80px;
    @include br-10;

    .social-btn {
        height: 50px;
        width: 50px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        @include outShadow;
        @include br-10;
        cursor: pointer;
        font-size: 30px;
        text-decoration: none;

        &.facebook {
            color: #4267B2;
        }
        &.linkedin {
            color: #0e76a8;
        }
        &.github {
            color: #211F1F;
        }
        &.gmail {
            color: #B23121;
        }

        &:hover {
            @include inShadow;
        }
    }
}