<!-- <iframe src="assets/Susobhan_Dash.pdf" style="width: 100%;height: 100%;border: 1px solid #333;"></iframe> -->
<div class="w-100 h-100 d-flex justify-between flex-column">
    <div class="w-100 align-center d-flex justify-between" style="height: 25vh">
        <div class="w-100 justify-center">
            <p class="mb-2">Take a sneak peek into my Professional Career</p>
            <a class="button" href="/assets/Susobhan_Dash.pdf" target="_blank">
                Download Resume
            </a>
        </div>
        <div class="w-100 justify-center">
            <p class="mb-2">Get in touch with me</p>
            <a class="button" href="mailto:susobhan.dash@gmail.com">
                Contact Me
            </a>
        </div>
    </div>
    <div style="height: 25vh" class="w-100 justify-center align-cnter d-flex">
        <div class="social">
            <a href="https://facebook.com/susobhan.dash" target="_blank" class="social-btn facebook">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="https://www.linkedin.com/in/susobhan-dash/" target="_blank" class="social-btn linkedin">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            <a href="https://github.com/susobhandash" target="_blank" class="social-btn github">
                <i class="fa fa-github" aria-hidden="true"></i>
            </a>
            <a href="mailto:susobhan.dash@gmail.com" target="_blank" class="social-btn gmail">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>